/* div 1 */






/* div 2 */






/* div 3 */
.div_3_container {
    min-width: 320px;
    background-color: #004047;
    padding: 0px 24px;
    position: relative;
    padding-bottom: 164px;
    padding-top: 140px;
    /* display: flex;
    flex-flow: column wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding-top: 66px;
    padding-bottom: 64px; */
}

.bg-pattern-home-4-about-3 {
    position: absolute;
    left: 0px;
    top: 0px;
}

.bg-pattern-home-5 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.header {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.header span {
    color: #79C8C7;
}

.quote {
    position: relative;
}

.quotes {
    z-index: -1;
    width: 67px;
    height: 56px;
    position: absolute;
    left: 39.76%;
    right: 39.76%;
    top: -16%;
    /* bottom: 58.82%; */
}

.persone_container {
    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin-top: 84px;
    justify-content: center;
    align-items: center;
}

.text {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.persone {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
    text-align: center;
    margin: 0;
    margin-top: 16px;
}

.job_position {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF; 
    margin: 0;
    margin-bottom: 16px;
}

.avatar {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: #C4FFFE solid 2px;
}



/* Tablet */
@media only screen and (max-width: 1439px) and (min-width: 768px) {

}

/* Desctop */
@media only screen and (min-width: 1440px) {

}





/* div 4 */