.headerlogo {
  height: 32px;
  width: 126px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 24px;
  background-color: #014e56;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #2c6269;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #F67E7E;
}

.sidenav #contact:hover {
  background-color: #ffffff;
  color: #002529;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#openNav {
  color: #ffffff;
}

#openNav span {
  font-size: 24px;
  cursor: pointer;
}

#contact {
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 36px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  width: 153px;
  height: 43px;
  transition: all 0.5s;
}

.cover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.menuimg {
  position: absolute;
  width: 200px;
  height: 200px;
  right: -100px;
  bottom: 0px;
}

/* Tablet */
@media only screen and (max-width: 1439px) and (min-width: 768px) {
  .header {
    padding: 64px 40px;
    justify-content: left;
    text-align: center;
  }

  #openNav {
    display: none;
  }

  .cover {
    display: none;
    z-index: -1;
  }

  .sidenav {
    display: flex;
    position: inherit;
    overflow-x: visible;
    padding: 0;
    align-items: center;
    transition: 0;
    background-color: #014e56;
    width: 100% !important;
  }

  .right{
    margin-left: auto; 
    margin-right: 0;
  }

  a#contact {
    padding: 8px 32px 8px 32px;
    width: 153px;
    height: 43px;
    margin-left: 10px;
    background-color: #014e56;
  }

  .sidenav #contact {
    /* margin: top, right, bottom, left; */
    margin: 0;
    white-space: nowrap;
    position: relative;
    flex-grow: 3;    
  }

  .sidenav img {
    display: none;
  }

  .sidenav .closebtn {
    display: none;
  }
}
/* Desktop */
@media only screen and (min-width: 1440px) {
  #openNav {
    display: none;
  }

  .cover {
    display: none !important;
    z-index: -1;
  }

  .sidenav {
    display: flex;
    position: relative;
    overflow-x: visible;
    padding: 0;
    align-items: center;
    transition: 0;
    width: 100% !important;
    background-color: #014e56;
  }

  .right{
    margin-left: auto; 
    margin-right: 0;
  }

  a#contact {
    padding: 8px 32px 8px 32px;
    margin-left: 10px;
    background-color: #014e56;
    width: 153px;
    height: 48px;
  }

  .sidenav #contact {
    /* margin: top, right, bottom, left; */
    margin: 0;
    white-space: nowrap;
    left: 0px;
  }

  .sidenav img {
    display: none;
  }

  .sidenav .closebtn {
    display: none;
  }

  .header {
    padding: 73px 165px;
    justify-content: left;
    align-items: center;
    text-align: center;
    /* height: 32px; */
  }
  .headerlogo {
    height: 43px;
  }
}
