/* div 1 */






/* div 2 */






/* div 3 */
.div_3_container {
    min-width: 320px;
    background-color: #004047;
    padding: 0px 24px;
    position: relative;
    padding-bottom: 164px;
    padding-top: 140px;
}

.bg-pattern-home-4-about-3 {
    position: absolute;
    left: 0px;
    top: 0px;
}

.bg-pattern-home-5 {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.topic {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.topic span {
    color: #79C8C7;
}

.quote {
    position: relative;
}

.quotes {
    z-index: -1;
    width: 67px;
    height: 56px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: -35px;
}

.persone_container {
    z-index: 1;
    display: flex;
    flex-flow: column wrap;
    position: relative;
    margin-top: 84px;
    justify-content: center;
    align-items: center;
}

.text {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.persone {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #79C8C7;
    text-align: center;
    margin: 0;
    margin-top: 16px;
}

.job_position {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 16px;
}

.avatar {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: #C4FFFE solid 2px;
}



/* Tablet */
@media only screen and (max-width: 1439px) and (min-width: 768px) {

    .div_3_container {
        padding: 0px 97px;
        padding-bottom: 100px;
        padding-top: 100px;
    }
}

/* Desctop */
@media only screen and (min-width: 1440px) {

    .div_3_container {
        padding: 0px 165px;
        padding-bottom: 151px;
        padding-top: 140px;
    }

    .workers_container {
        display: flex;

    }

    .topic {
        width: 932px;
        font-family: 'Livvic';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        text-align: center;    
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .quotes {
        text-align: center;
    }

    .persone {
        margin-top: 24px;
    }

    .job_position {
        margin-bottom: 32px;
    }


}





/* div 4 */

.div4_container{
    min-width: 320px;
    min-height: 302px;
    background-color: rgb(246, 126, 126);
    background-image: url("./../image/bg-pattern-home-6-about-5.svg");
    background-repeat: no-repeat;
    background-position-y: bottom;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}



.R_t_g_s{
    font-size: 32px;
    font-weight: 700;
    color:rgba(1, 47, 52, 1);
    line-height: 32px;
    margin: 24px 20px;
    text-align: center;
}

.button :hover {
    background-color:#012F34;
    color: #FFFFFF;
}

.button a{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: rgba(1, 47, 52, 1);
    display: inline-block;
    border: 2px solid #012F34;
    padding: 9px 30px;
    border-radius: 24px;
    margin-bottom: 83px;
    text-decoration: none;
}


/* Tablet */
@media only screen and (max-width: 1439px) and (min-width: 768px){
    .div4_container{
        min-height: 200px;
        flex-flow: row;
        background-position: 0px 78px;
        gap: 84px;
    }
    
    
    
    .R_t_g_s{
        font-size: 32px;
        font-weight: 700;
        color:rgba(1, 47, 52, 1);
        line-height: 32px;
        margin: 0px 0px;
        text-align: center;
    }
    

    .button a{
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        color: rgba(1, 47, 52, 1);
        display: inline-block;
        border: 2px solid #012F34;
        padding: 9px 30px;
        text-align: center;
        border-radius: 24px;
        margin-bottom: 0px;
        text-decoration: none;
    }
    
}
/* Desctop */
@media only screen and (min-width: 1440px) {
    .div4_container{
        min-height: 200px;
        flex-flow: row;
        gap: 260px;
    }
    
    
    
    .R_t_g_s{
        font-weight: 700;
        font-size: 48px;
        color:rgba(1, 47, 52, 1);
        line-height: 32px;
        margin: 0px 0px;
        text-align: center;
    }
    

    .button a{
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        color: rgba(1, 47, 52, 1);
        display: inline-block;
        border: 2px solid #012F34;
        padding: 9px 30px;
        text-align: center;
        border-radius: 24px;
        margin-bottom: 0px;
        text-decoration: none;
    }
}